---
layout: page
title: Projects
---
<style>
  .custom-one {
     margin-top: -0.4cm;
     margin-bottom: 0.2cm;
  }
</style>

<style>
  .custom-two {
     margin-top: -0.2cm;
     margin-bottom: 0.8cm;
  }
</style>

<section class="list">
    <span style="color:grey;">Major project tags: <a href="/tags/#ar-vr">AR/VR</a>, <a href="/tags/#hardware">Hardware</a>, <a href="/tags/#development">Development</a>. Projects prior to May 2018 is avaiable <a href="/other-projects">here</a>.</span>
</section>
<section class="list">
    <span style="font-size: x-large;font-family:cursive;"><b>2019</b></span>
    {% for post in site.posts %}
        {% if post.projects %}
          {% if post.year == 'year2019' %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside>{{ post.timedescription }}</aside>
                    <h2 class="title"><span style="color:black;">{{ post.title }}</span></h2>
                </a>
                <p class="custom-one">
                    <span style="color:red;font-size: large;font-family:cursive;"><b>{{ post.subtitle }}</b></span>
                </p>
                <p class="custom-two">
                    {{ post.description }}
                </p>
            </div>
          {% endif %}
        {% endif %}
    {% endfor %}
</section>

<section class="list">
    <span style="font-size: x-large;font-family:cursive;"><b>2018</b></span>
    {% for post in site.posts %}
        {% if post.projects %}
          {% if post.year == 'year2018' %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside>{{ post.timedescription }}</aside>
                    <h2 class="title"><span style="color:black;">{{ post.title }}</span></h2>
                </a>
                <p class="custom-one">
                    <span style="color:red;font-size: large;font-family:cursive;"><b>{{ post.subtitle }}</b></span>
                </p>
                <p class="custom-two">
                    {{ post.description }}
                </p>
            </div>
          {% endif %}
        {% endif %}
    {% endfor %}
</section>

<section class="list">
    <span style="font-size: x-large;font-family:cursive;"><b>Archive</b></span>
    {% for post in site.posts %}
        {% if post.projects %}
          {% if post.year == 'year2017' %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside>{{ post.timedescription }}</aside>
                    <h2 class="title"><span style="color:black;">{{ post.title }}</span></h2>
                </a>
                <p class="custom-one">
                    <span style="color:red;font-size: large;font-family:cursive;"><b>{{ post.subtitle }}</b></span>
                </p>
                <p class="custom-two">
                    {{ post.description }}
                </p>
            </div>
          {% endif %}
        {% endif %}
    {% endfor %}
</section>