<style>
img {
  float: left;
}
.author_job {
    display: block;
    color: #8d7edc;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    margin: -5px auto 10px;
  }
.toggle_button {
    /* display: block; */
    /* color: #8d7edc; */
    /* font-size: 1.2em; */
    /* font-weight: 700; */
    /* text-transform: uppercase; */
    /* margin: -5px auto 10px; */
    padding: 0;
    border: none;
    background-color: white;
  }

</style>
<script>
  window.onload = function () {
     document.getElementById("disappear-iitb").style.display = "none";
     document.getElementById("disappear-projs").style.display = "none";
     document.getElementById("disappear-misc").style.display = "none";
  };
  function myFunction(comp) {
    var x = document.getElementById(comp);
    console.log(x)
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
<br>
<span class="author_job"><button class="toggle_button" onclick="myFunction('disappear')">Publications (UT Austin) </button><br></span>
<div id="disappear">
{% for post in site.posts %}
  {% for cat in post.categories %}
    {% if cat == "publication-ut" %}
    <div class="vertical-post-space">
      <p>
        <div style="height: 250px;">
        <img src="{{ site.url }}/img/{{ post.image.feature }}" style="width:170px;height:auto;margin-right:15px;">
        </div>
        {% if post.presentation == "oral" %}
        <section class="post" style="background-color: #fcf1e8;">
        {% else %}
        <section class="post">
        {% endif %}
          <header class="post-header">
            <!-- <p class="post-meta">
              <span class="post-date">
                {{ post.date | date: "%-d %b %Y" | upcase }}
              </span>
              {% if post.categories.size > 0 %}
              •
              {% for cat in post.categories %}
                <a class="post-cat" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
                {% unless forloop.last %}
                <span>/</span>
                {% endunless %}
              {% endfor %}
              {% endif %} -->
            </p> 
            <h4>
              <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title | escape }}">{{ post.title }}</a>
              {% if post.link %}
              <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-external-link"></i></a>
              {% endif %}
            </h4>

            {% if post.author %}
              {% assign author = site.data.authors[post.author] %}
            {% else %}
              {% assign author = site.owner %}
            {% endif %}

            </header>

            {% if post.excerpt and post.excerpt2 %} 
              <div class="post-description">
                <p>
                  {{ post.excerpt }} <br> <i>{{ post.excerpt2 }}</i> <br>
                  {% if post.paper_link %}
                    <a href={{post.paper_link}}>Paper</a> &nbsp
                  {% endif %}
                  {% if post.code_link %}
                    <a href={{post.code_link}}>Code</a> &nbsp
                  {% endif %}
                  {% if post.project_page %}
                    <a href={{post.project_page}}>Website</a> &nbsp
                  {% endif %}
                  {% if post.presentation_link %}
                    <a href={{post.presentation_link}}>Presentation</a> &nbsp
                  {% endif %}
                </p>
              </div>
            {% else %}
              {% if post.excerpt %}
              <div class="post-description">
                <p>
                  {{ post.excerpt }}
                </p>
              </div>
              {% endif %}
              {% if post.excerpt2 %}
              <div class="post-description">
                <p>
                  {{ post.excerpt2 }}
                </p>
              </div>
              {% endif %}
            {% endif %} 

            <!-- {% if post.image.feature %}
            <div class="post-image-feature">
              <img src=
              {% if post.image.feature contains 'http' %}
              "{{ post.image.feature }}"
              {% else %}
              "{{ site.url }}/img/{{ post.image.feature }}"
              {% endif %}
              alt="{{ post.title | escape }} feature image">

              {% if post.image.credit %}
              <span class="image-credit">Location: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
              {% endif %}
            </div> <!-- /.image-wrap -->
            <!--{% endif %} -->

        </section>
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}
<br>
</div>



<br>
<!-- <br> -->

<span class="author_job"><button class="toggle_button" onclick="myFunction('disappear-iitb')">Publications (IIT Bombay) </button><br></span>
<div id="disappear-iitb">
{% for post in site.posts %}
  {% for cat in post.categories %}
    {% if cat == "publication" %}
    <div class="vertical-post-space">
      <p><img src="{{ site.url }}/img/{{ post.image.feature }}" style="width:170px;height:auto;margin-right:15px;">
        {% if post.presentation == "oral" %}
        <section class="post" style="background-color: #fcf1e8;">
        {% else %}
        <section class="post">
        {% endif %}
          <header class="post-header">
            <!-- <p class="post-meta">
              <span class="post-date">
                {{ post.date | date: "%-d %b %Y" | upcase }}
              </span>
              {% if post.categories.size > 0 %}
              •
              {% for cat in post.categories %}
                <a class="post-cat" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
                {% unless forloop.last %}
                <span>/</span>
                {% endunless %}
              {% endfor %}
              {% endif %} -->
            </p> 
            <h4>
              <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title | escape }}">{{ post.title }}</a>
              {% if post.link %}
              <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-external-link"></i></a>
              {% endif %}
            </h4>

            {% if post.author %}
              {% assign author = site.data.authors[post.author] %}
            {% else %}
              {% assign author = site.owner %}
            {% endif %}

            </header>

            {% if post.excerpt and post.excerpt2 %} 
              <div class="post-description">
                <p>
                  {{ post.excerpt }} <br> <i>{{ post.excerpt2 }}</i> <br>
                  {% if post.paper_link %}
                    <a href={{post.paper_link}}>Paper</a> &nbsp
                  {% endif %}
                  {% if post.code_link %}
                    <a href={{post.code_link}}>Code</a> &nbsp
                  {% endif %}
                  {% if post.presentation_link %}
                    <a href={{post.presentation_link}}>Presentation</a> &nbsp
                  {% endif %}
                </p>
              </div>
            {% else %}
              {% if post.excerpt %}
              <div class="post-description">
                <p>
                  {{ post.excerpt }}
                </p>
              </div>
              {% endif %}
              {% if post.excerpt2 %}
              <div class="post-description">
                <p>
                  {{ post.excerpt2 }}
                </p>
              </div>
              {% endif %}
            {% endif %} 

            <!-- {% if post.image.feature %}
            <div class="post-image-feature">
              <img src=
              {% if post.image.feature contains 'http' %}
              "{{ post.image.feature }}"
              {% else %}
              "{{ site.url }}/img/{{ post.image.feature }}"
              {% endif %}
              alt="{{ post.title | escape }} feature image">

              {% if post.image.credit %}
              <span class="image-credit">Location: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
              {% endif %}
            </div> <!-- /.image-wrap -->
            <!--{% endif %} -->

        </section>
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}
<br>
</div>



<br>
<!-- <br> -->

<span class="author_job"><button class="toggle_button" onclick="myFunction('disappear-projs')">Undergrad Projects</button><br></span>
<div id="disappear-projs">
{% for post in site.posts %}
  {% for cat in post.categories %}
    {% if cat == "project" %}
    <div class="vertical-post-space">
      <p><img src="{{ site.url }}/img/{{ post.image.feature }}" style="width:170px;height:auto;margin-right:15px;">
        <section class="post">
          <header class="post-header">
            <p class="post-meta">
              <span class="post-date">
                {{ post.date | date: "%-d %b %Y" | upcase }}
              </span>
              {% if post.categories.size > 0 %}
              •
              {% for cat in post.categories %}
                <a class="post-cat" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
                {% unless forloop.last %}
                <span>/</span>
                {% endunless %}
              {% endfor %}
              {% endif %}
            </p>
            <h4>
              <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title | escape }}">{{ post.title }}</a>
              {% if post.link %}
              <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-external-link"></i></a>
              {% endif %}
            </h4>

            {% if post.author %}
              {% assign author = site.data.authors[post.author] %}
            {% else %}
              {% assign author = site.owner %}
            {% endif %}

            </header>

            {% if post.excerpt and post.excerpt2 %} 
              <div class="post-description">
                <p>
                  {{ post.excerpt }} <br> <i>{{ post.excerpt2 }}</i> <br>
                  {% if post.paper_link %}
                    <a href={{post.paper_link}}>Paper</a> &nbsp
                  {% endif %}
                  {% if post.code_link %}
                    <a href={{post.code_link}}>Code</a> &nbsp
                  {% endif %}
                  {% if post.presentation_link %}
                    <a href={{post.presentation_link}}>Presentation</a> &nbsp
                  {% endif %}
                </p>
              </div>
            {% else %}
              {% if post.excerpt %}
              <div class="post-description">
                <p>
                  {{ post.excerpt }}
                </p>
              </div>
              {% endif %}
              {% if post.excerpt2 %}
              <div class="post-description">
                <p>
                  {{ post.excerpt2 }}
                </p>
              </div>
              {% endif %}
            {% endif %} 

            <!-- {% if post.image.feature %}
            <div class="post-image-feature">
              <img src=
              {% if post.image.feature contains 'http' %}
              "{{ post.image.feature }}"
              {% else %}
              "{{ site.url }}/img/{{ post.image.feature }}"
              {% endif %}
              alt="{{ post.title | escape }} feature image">

              {% if post.image.credit %}
              <span class="image-credit">Location: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
              {% endif %}
            </div> <!-- /.image-wrap -->
            <!--{% endif %} -->

        </section>
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}
<br>
</div>



<br>
<!-- <br> -->

<span class="author_job"><button class="toggle_button" onclick="myFunction('disappear-misc')">Miscellaneous</button><br></span>
<div id="disappear-misc">
{% for post in site.posts %}
  {% for cat in post.categories %}
    {% if cat == "other-project" %}
    <div class="vertical-post-space">
      <p><img src="{{ site.url }}/img/{{ post.image.feature }}" style="width:170px;height:auto;margin-right:15px;">
        <section class="post">
          <header class="post-header">
            <p class="post-meta">
              <span class="post-date">
                {{ post.date | date: "%-d %b %Y" | upcase }}
              </span>
              {% if post.categories.size > 0 %}
              •
              {% for cat in post.categories %}
                <a class="post-cat" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
                {% unless forloop.last %}
                <span>/</span>
                {% endunless %}
              {% endfor %}
              {% endif %}
            </p>
            <h4>
              <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title | escape }}">{{ post.title }}</a>
              {% if post.link %}
              <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-external-link"></i></a>
              {% endif %}
            </h4>

            {% if post.author %}
              {% assign author = site.data.authors[post.author] %}
            {% else %}
              {% assign author = site.owner %}
            {% endif %}

            </header>

            {% if post.excerpt and post.excerpt2 %} 
              <div class="post-description">
                <p>
                  {{ post.excerpt }} <br> <b><span style="color: red">{{ post.excerpt2 }}</span></b> <br>
                  {% if post.paper_link %}
                    <a href={{post.paper_link}}>Paper</a> &nbsp
                  {% endif %}
                  {% if post.code_link %}
                    <a href={{post.code_link}}>Code</a> &nbsp
                  {% endif %}
                  {% if post.presentation_link %}
                    <a href={{post.presentation_link}}>Presentation</a> &nbsp
                  {% endif %}
                </p>
              </div>
            {% else %}
              {% if post.excerpt %}
              <div class="post-description">
                <p>
                  {{ post.excerpt }}
                </p>
              </div>
              {% endif %}
              {% if post.excerpt2 %}
              <div class="post-description">
                <p>
                  {{ post.excerpt2 }}
                </p>
              </div>
              {% endif %}
            {% endif %} 

            <!-- {% if post.image.feature %}
            <div class="post-image-feature">
              <img src=
              {% if post.image.feature contains 'http' %}
              "{{ post.image.feature }}"
              {% else %}
              "{{ site.url }}/img/{{ post.image.feature }}"
              {% endif %}
              alt="{{ post.title | escape }} feature image">

              {% if post.image.credit %}
              <span class="image-credit">Location: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
              {% endif %}
            </div> <!-- /.image-wrap -->
            <!--{% endif %} -->

        </section>
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}
</div>
<br>
<p style="font-size:11px; text-align: right;">Built with <a href="https://github.com/renyuanz/leonids">leonids</a> theme.</p>