<style>
img {
  float: left;
}
.author_job {
    display: block;
    color: #8d7edc;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    margin: -5px auto 10px;
  }
</style>
<span class="author_job">Publications <br></span>
{% for post in site.posts %}
  {% for cat in post.categories %}
    {% if cat == "publication" %}
    <p><img src="{{ site.url }}/img/{{ post.image.feature }}" style="width:170px;height:170px;margin-right:15px;">
      <section class="post">
        <header class="post-header">
          <p class="post-meta">
            <span class="post-date">
              {{ post.date | date: "%-d %b %Y" | upcase }}
            </span>
            {% if post.categories.size > 0 %}
            •
            {% for cat in post.categories %}
              <a class="post-cat" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
              {% unless forloop.last %}
              <span>/</span>
              {% endunless %}
            {% endfor %}
            {% endif %}
          </p>
          <h4>
            <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title | escape }}">{{ post.title }}</a>
            {% if post.link %}
            <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-external-link"></i></a>
            {% endif %}
          </h4>

          {% if post.author %}
            {% assign author = site.data.authors[post.author] %}
          {% else %}
            {% assign author = site.owner %}
          {% endif %}

          </header>

          {% if post.excerpt and post.excerpt2 %} 
            <div class="post-description">
              <p>
                {{ post.excerpt }} <br> <i>{{ post.excerpt2 }}</i> <br>
                {% if post.paper_link %}
                  <a href={{post.paper_link}}>Paper</a> &nbsp
                {% endif %}
                {% if post.code_link %}
                  <a href={{post.code_link}}>Code</a> &nbsp
                {% endif %}
                {% if post.presentation_link %}
                  <a href={{post.presentation_link}}>Presentation</a> &nbsp
                {% endif %}
              </p>
            </div>
          {% else %}
            {% if post.excerpt %}
            <div class="post-description">
              <p>
                {{ post.excerpt }}
              </p>
            </div>
            {% endif %}
            {% if post.excerpt2 %}
            <div class="post-description">
              <p>
                {{ post.excerpt2 }}
              </p>
            </div>
            {% endif %}
          {% endif %} 

          <!-- {% if post.image.feature %}
          <div class="post-image-feature">
            <img src=
            {% if post.image.feature contains 'http' %}
            "{{ post.image.feature }}"
            {% else %}
            "{{ site.url }}/img/{{ post.image.feature }}"
            {% endif %}
            alt="{{ post.title | escape }} feature image">

            {% if post.image.credit %}
            <span class="image-credit">Location: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
            {% endif %}
          </div> <!-- /.image-wrap -->
          <!--{% endif %} -->

      </section>
    {% endif %}
  {% endfor %}
{% endfor %}



<br>
<br>

<span class="author_job"> Featured Projects <br></span>
{% for post in site.posts %}
  {% for cat in post.categories %}
    {% if cat == "project" %}
    <p><img src="{{ site.url }}/img/{{ post.image.feature }}" style="width:170px;height:170px;margin-right:15px;">
      <section class="post">
        <header class="post-header">
          <p class="post-meta">
            <span class="post-date">
              {{ post.date | date: "%-d %b %Y" | upcase }}
            </span>
            {% if post.categories.size > 0 %}
            •
            {% for cat in post.categories %}
              <a class="post-cat" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
              {% unless forloop.last %}
              <span>/</span>
              {% endunless %}
            {% endfor %}
            {% endif %}
          </p>
          <h4>
            <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title | escape }}">{{ post.title }}</a>
            {% if post.link %}
            <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-external-link"></i></a>
            {% endif %}
          </h4>

          {% if post.author %}
            {% assign author = site.data.authors[post.author] %}
          {% else %}
            {% assign author = site.owner %}
          {% endif %}

          </header>

          {% if post.excerpt and post.excerpt2 %} 
            <div class="post-description">
              <p>
                {{ post.excerpt }} <br> <i>{{ post.excerpt2 }}</i> <br>
                {% if post.paper_link %}
                  <a href={{post.paper_link}}>Paper</a> &nbsp
                {% endif %}
                {% if post.code_link %}
                  <a href={{post.code_link}}>Code</a> &nbsp
                {% endif %}
                {% if post.presentation_link %}
                  <a href={{post.presentation_link}}>Presentation</a> &nbsp
                {% endif %}
              </p>
            </div>
          {% else %}
            {% if post.excerpt %}
            <div class="post-description">
              <p>
                {{ post.excerpt }}
              </p>
            </div>
            {% endif %}
            {% if post.excerpt2 %}
            <div class="post-description">
              <p>
                {{ post.excerpt2 }}
              </p>
            </div>
            {% endif %}
          {% endif %} 

          <!-- {% if post.image.feature %}
          <div class="post-image-feature">
            <img src=
            {% if post.image.feature contains 'http' %}
            "{{ post.image.feature }}"
            {% else %}
            "{{ site.url }}/img/{{ post.image.feature }}"
            {% endif %}
            alt="{{ post.title | escape }} feature image">

            {% if post.image.credit %}
            <span class="image-credit">Location: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
            {% endif %}
          </div> <!-- /.image-wrap -->
          <!--{% endif %} -->

      </section>
    {% endif %}
  {% endfor %}
{% endfor %}



<br>
<br>
<br>
<br>

<span class="author_job"> Miscellaneous <br></span>
{% for post in site.posts %}
  {% for cat in post.categories %}
    {% if cat == "other-project" %}
    <p><img src="{{ site.url }}/img/{{ post.image.feature }}" style="width:170px;height:170px;margin-right:15px;">
      <section class="post">
        <header class="post-header">
          <p class="post-meta">
            <span class="post-date">
              {{ post.date | date: "%-d %b %Y" | upcase }}
            </span>
            {% if post.categories.size > 0 %}
            •
            {% for cat in post.categories %}
              <a class="post-cat" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
              {% unless forloop.last %}
              <span>/</span>
              {% endunless %}
            {% endfor %}
            {% endif %}
          </p>
          <h4>
            <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title | escape }}">{{ post.title }}</a>
            {% if post.link %}
            <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-external-link"></i></a>
            {% endif %}
          </h4>

          {% if post.author %}
            {% assign author = site.data.authors[post.author] %}
          {% else %}
            {% assign author = site.owner %}
          {% endif %}

          </header>

          {% if post.excerpt and post.excerpt2 %} 
            <div class="post-description">
              <p>
                {{ post.excerpt }} <br> <b><span style="color: red">{{ post.excerpt2 }}</span></b> <br>
                {% if post.paper_link %}
                  <a href={{post.paper_link}}>Paper</a> &nbsp
                {% endif %}
                {% if post.code_link %}
                  <a href={{post.code_link}}>Code</a> &nbsp
                {% endif %}
                {% if post.presentation_link %}
                  <a href={{post.presentation_link}}>Presentation</a> &nbsp
                {% endif %}
              </p>
            </div>
          {% else %}
            {% if post.excerpt %}
            <div class="post-description">
              <p>
                {{ post.excerpt }}
              </p>
            </div>
            {% endif %}
            {% if post.excerpt2 %}
            <div class="post-description">
              <p>
                {{ post.excerpt2 }}
              </p>
            </div>
            {% endif %}
          {% endif %} 

          <!-- {% if post.image.feature %}
          <div class="post-image-feature">
            <img src=
            {% if post.image.feature contains 'http' %}
            "{{ post.image.feature }}"
            {% else %}
            "{{ site.url }}/img/{{ post.image.feature }}"
            {% endif %}
            alt="{{ post.title | escape }} feature image">

            {% if post.image.credit %}
            <span class="image-credit">Location: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
            {% endif %}
          </div> <!-- /.image-wrap -->
          <!--{% endif %} -->

      </section>
    {% endif %}
  {% endfor %}
{% endfor %}